# Python specific
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
env.bak/
env1/
env2/
.python-version

# IDE specific
.idea/
.vscode/

# Compiled files
*.pyc
*.pyo
*.pyd
*.so
*.dll
*.exe

# Logs and databases
*.log
*.sqlite3
*.db

# OS specific
.DS_Store
Thumbs.db

# Miscellaneous
*.bak
*.swp
*.tmp
*.temp
*.~*
*~

dist/